.register{
    color: white;
    display: flex;
    flex-direction: column;
    /* height: 600px; */
    width: 800px;
    justify-content: center;
    position: relative;
    left:320px;
    margin: 30px 40px;

}

.register div
{
    display: grid;
    grid-template-columns: auto auto;
}
/* 
#register input
{
    height: 40px;
    width: 350px;
    margin: 5px 0px;
    padding: 20px;
    align-self: center;
    font-size: 18px;
    
}

#register label{
    margin-left: 15px;
    font-size: 20px;
} */


.register p
{
    font-size: 15px;
    /* font-weight: 100; */
    display: inline;
    text-decoration: underline;
    cursor: pointer;

}


@media (max-width: 600px) {
    .register{
        width: 300px;
        left:0px;
        margin: 30px 30px;
    
    }

    .register div
    {
        display: grid;
        grid-template-columns: auto ;
    }


    .register p
    {
        font-size: 12px;

    }

}
